@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Khmer:wght@100;200;300;400;500;600;700;800;900&family=Poppins:wght@300;400;500;600;900&display=swap');
*{
    box-sizing: border-box !important;
    font-family: 'Poppins', sans-serif;
    font-family: 'Noto Sans Khmer', sans-serif;
}
